<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapzen.tangramdemos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidtangramdemos">
        <activity android:name=".DemoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeaturePickingActivity"
            android:label="@string/featurepicking_title"
            android:exported="true"
            android:parentActivityName=".DemoMainActivity"/>
        <activity
            android:name=".MapGesturesActivity"
            android:label="@string/mapgestures_title"
            android:exported="true"
            android:parentActivityName=".DemoMainActivity"/>
        <activity
            android:name=".MapMovementActivity"
            android:label="@string/mapmovement_title"
            android:exported="true"
            android:parentActivityName=".DemoMainActivity"/>
        <activity
            android:name=".MarkersActivity"
            android:label="@string/markers_title"
            android:exported="true"
            android:parentActivityName=".DemoMainActivity"/>
        <activity
            android:name=".MultiMapActivity"
            android:label="@string/multimap_title"
            android:exported="true"
            android:parentActivityName=".DemoMainActivity"/>
        <activity
            android:name=".SceneUpdatesActivity"
            android:label="@string/sceneupdates_title"
            android:exported="true"
            android:parentActivityName=".DemoMainActivity"/>
        <activity
            android:name=".SimpleMapActivity"
            android:label="@string/simplemap_title"
            android:exported="true"
            android:parentActivityName=".DemoMainActivity"/>
        <activity
            android:name=".TranslucentMapActivity"
            android:label="@string/translucency_title"
            android:exported="true"
            android:parentActivityName=".DemoMainActivity"/>
    </application>

</manifest>